body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
}

header {
  background-color: #4CAF50;
  color: white;
  text-align: center;
  padding: 1em;
}

main {
  max-width: 800px;
  margin: 20px auto;
}

#getDirectionsBtn {
  background-color: #3498db; 
  color: #fff; 
  padding: 15px 25px;
  font-size: 16px;
  margin-bottom: 40px;
  border: none;
  border-radius: 10px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

#getDirectionsBtn:hover {
  background-color: #2980b9;
}

.search {
  margin-bottom: 20px;
}

label {
  display: block;
  margin-bottom: 5px;
}

input {
  width: 100%;
  padding: 8px;
  margin-bottom: 10px;
}

.map, #map {
  height: 400px; /* Set an appropriate height for the map container */
  border: 1px solid #ddd; /* Optional: Add a border around the map */
  margin-bottom: 20px;
}

.chat-box {
  border: 1px solid #ddd;
  height: 400px; /* Set an appropriate height for the chat box container */
  overflow-y: auto; /* Enable vertical scrollbar if content exceeds the height */
}

footer {
  background-color: #4CAF50;
  color: white;
  text-align: left;
  padding: 0.5em;
  display: flex;
  justify-content: space-between;
}

.copyright {
  text-align: left;
}
.name {
  text-align: right;
}

/* chatbox css */

.chatbox {
  position: relative;
  background-color:#4CAF50;
  max-width: 350px;
  height: 400px;
  margin: 20px;
  border-radius: 10px;
  font-family: Avenir;
  font-size: 14px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.nav {
  background-color: #4CAF50;
  height: 30px;
  padding: 10px;
  color: white;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  display: flex;
  align-items: center;
}

.chatbody {
  padding: 10px 10px;
}

#bot {
  padding: 10px;
  float: left;
  margin: 5px;
  max-width: 90%;
  display: table;
  clear: both;
  margin-left: 15px;
  background-color: #4CAF50;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  border-bottom-right-radius: 20px;
}

#user {
  padding: 10px;
  float: right;
  max-width: 70%;
  background-color: #4CAF50;
  margin: 5px;
  color: white;
  margin-right: 15px;
  display: table;
  clear: both;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  border-bottom-left-radius: 20px;
}

#text {
  width: 90%;
  outline: none;
  border: none;
  padding: 10px;
  border-radius: 50px;
  margin-top: 7px;
  margin-left: 10px;
}

.icon {
  padding: 15px;
  color: #4CAF50;
  right: -30px;
  min-width: 50px;
  position: absolute;
}